.category__section {
  margin-bottom: var(--space-l);
  width: 100%;

  .category__section-title {
    margin-bottom: var(--space-s);
    padding-bottom: var(--space-xs);
  }

  .category__section-movies {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}
