<div class="addFilm">
  <h2 class="addFilm__title fs-size-13"># Ajouter un film</h2>
  <form class="addFilm__form flex-context flex-col gap-md">
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="title">Titre</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="director">Réalisateur</label>
      <input type="text" id="director" name="director" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="release_year">Année de sortie</label>
      <input type="number" id="release_year" name="release_year" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="image">Image</label>
      <input type="text" id="image" name="image" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="trailer">Trailer</label>
      <input type="text" id="trailer" name="trailer" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="min_age">Âge minimum</label>
      <input type="number" id="min_age" name="min_age" required />
    </div>
    <div class="addFilm__form-group flex-context flex-col gap-2xs fs-size-095">
      <label for="length">Durée (en minutes)</label>
      <input type="number" id="length" name="length" required />
    </div>
    <button type="submit" class="addFilm__submit fw-bold">
      Ajouter le film
    </button>
  </form>
</div>
