/* Utilities avec un u pr suivre BEM*/
.u-font-sans {
  font-family: var(--ff-sans);
}

.u-font-size-base {
  font-size: var(--font-size-base);
}

.u-font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.u-font-size-title {
  font-size: var(--font-size-title);
}

.u-font-size-profile-name {
  font-size: var(--font-size-profile-name);
}
