<div class="featured-search">
  <h2 class="featured-search__title fs-size-13">
    # Gérer les films mis en avant
  </h2>
  <div class="featured-search__bar flex-context gap-m">
    <input
      type="text"
      id="featured-search-input"
      placeholder="Rechercher un film..."
      class="featured-search__input"
    />
    <button
      type="button"
      id="featured-search-btn"
      class="featured-search__btn fw-bold"
    >
      Rechercher
    </button>
  </div>
  <div class="featured-search__list grid-context gap-m">{{movies}}</div>
</div>
