<div class="featured-search">
  <h2 class="featured-search__title u-font-size-title">
    # Gérer les films mis en avant
  </h2>
  <div class="featured-search__bar u-flex u-gap-md">
    <input
      type="text"
      id="featured-search-input"
      placeholder="Rechercher un film..."
      class="featured-search__input"
    />
    <button
      type="button"
      id="featured-search-btn"
      class="featured-search__btn u-font-weight-bold"
    >
      Rechercher
    </button>
  </div>
  <div class="featured-search__list u-grid u-gap-md">{{movies}}</div>
</div>
