@layer reset, variables, utilities, layout, components;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);
@import "./layout.css" layer(layout);

@import "../component/Log/style.css" layer(components);
@import "../component/MovieForm/style.css" layer(components);
@import "../component/ProfileForm/style.css" layer(components);
@import "../component/ModifyProfileForm/style.css" layer(components);
@import "../component/Featured/style.css" layer(components);

/* Style appliqué si l'utilisateur tape un nombre négatif */
input[type="number"]:invalid {
  border: 2px solid red;
  background-color: #fff0f0;
}

/* Style appliqué quand la valeur est correcte (positive) */
input[type="number"]:valid {
  border: 2px solid green;
}
