.font-sans {
  font-family: var(--ff-sans);
}

.font-mono {
  font-family: Courier, monospace;
}

.fs-size-13 {
  font-size: var(--fs-size-13);
}

.fs-size-095 label {
  font-size: var(--fs-size-095);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}
